.next-button {
    background-color: #d4470f;
    color: white;
    padding: 12px;
    font-size: 22px;
    min-width: 160px;
    border-radius: 0.3rem;
    margin: 2rem;
    float: right;
    border: none;
  }

  .next-button:hover {
    background-color: #e34c10;
  }

  .data-container {
      min-width: 26rem;
      min-height: 22rem;
  }

  .data-container .left {
    width: 26rem; 
    min-height: 22rem;
    float:left; 
    padding: 2%;
    margin-left: 5rem;
    margin-bottom: 1rem;
    border: 1px solid white;
    font-size: 25px;
    text-align: center;
  }

  .data-container .center {
    width: 26rem; 
    min-height: 22rem;
    float:left; 
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 1rem;
    border: 1px solid white;
    word-wrap: break-word;
    font-size: 20px;
  }

  .data-container .right {
    width: 26rem; 
    min-height: 22rem;
    float:left; 
    text-align: center;
    margin-bottom: 1rem;
    border: 1px solid white;
    padding: 2%;
  }

  .hidden {
    display: none;
}

.login-container { 
  overflow: auto; 
  position: fixed; 
  top: 0;   left: 0; 
  right: 0; 
  bottom: 0; 
  width: 100%; 
  height: 100%; 
  display: table; 
  table-layout: fixed; 
  background-color: rgba(0,0,0,0.7); 
  z-index: 999;  
} 
 
.login-container > .login-inner {  
  display: table-cell; 
  text-align: center; 
  vertical-align: middle; 
  width: 100%;
}  
 
.login-inner > .login-content { 
  display: inline-block; 
  outline: none; 
  text-align: left; 
  min-width: 200px; 
  max-width: 90%; 
  min-height: 220px;
  color: black;
  text-align: center;
  background-color: #d4470f;
  padding: 2rem;
}

.login-btn {
  border: 2px solid white;
  border-radius: 0.3rem;
  margin-top: 1rem;
  background-color: #d4470f;
  color: white;
  height: 3rem;
  width: 6rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.approve-btn {
    width: 26rem;
    height: 11rem;
    border: 1px solid black;
    background-color: #53b55a;
    color: white;
}

.reject-btn {
    width: 26rem;
    height: 11rem;
    border: 1px solid black;
    background-color: #d12c2c;
    color: white;
}