/* Dropdown Button */
.dropbtn {
    background-color: #d4470f;
    color: white;
    padding: 16px;
    font-size: 16px;
    min-width: 160px;
    border-radius: 0.3rem;
    margin-left: 1rem;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 1rem;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-width: 160px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #e34c10;}

  .next-button {
    background-color: #d4470f;
    color: white;
    padding: 12px;
    font-size: 22px;
    min-width: 160px;
    border-radius: 0.3rem;
    margin: 2rem;
    float: right;
    border: none;
  }

  .next-button:hover {
    background-color: #e34c10;
  }

  .data-container .left {
    width: 26rem; 
    height: 22rem;
    float:left; 
    padding: 3%;
    margin-left: 5rem;
    margin-bottom: 1rem;
    border: 1px solid black;
  }

  .data-container .right {
    width: 26rem; 
    height: 22rem;
    float:left; 
    padding: 3%;
    margin-bottom: 1rem;
    border: 1px solid black;
  }

  .data-container .image {
    width: 26rem; 
    height: 22rem;
    float:left; 
    text-align: center;
    margin-bottom: 1rem;
    border: 1px solid black;
  }

  .hidden {
    display: none;
}

.login-container { 
  overflow: auto; 
  position: fixed; 
  top: 0;   left: 0; 
  right: 0; 
  bottom: 0; 
  width: 100%; 
  height: 100%; 
  display: table; 
  table-layout: fixed; 
  background-color: rgba(0,0,0,0.7); 
  z-index: 999;  
} 
 
.login-container > .login-inner {  
  display: table-cell; 
  text-align: center; 
  vertical-align: middle; 
  width: 100%;
}  
 
.login-inner > .login-content { 
  display: inline-block; 
  outline: none; 
  text-align: left; 
  min-width: 200px; 
  max-width: 90%; 
  min-height: 220px;
  color: black;
  text-align: center;
  background-color: #d4470f;
  padding: 2rem;
}

.login-btn {
  border: 2px solid white;
  border-radius: 0.3rem;
  margin-top: 1rem;
  background-color: #d4470f;
  color: white;
  height: 3rem;
  width: 6rem;
  font-size: 1.5rem;
  font-weight: bold;
}