.image-container {
    width: 20rem; 
    float:left; 
    height:40rem; 
    margin:10px
}

.description {
    color: black;
    font-size: 17px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 3rem 3rem;
    width: 20rem; 
    float: left; 
    height:40rem; 
    margin:10px
}

.manual-body {
    background-color: white;
}

.manual-heading {
  color: #d4470f;
  font-size: 1.5em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.manual-paragraph {
  color: gray;
  font-size: 1.3em;
}

#button-container {
    width: 1rem; 
    float:left; 
    height:40rem; 
    margin:3px;
}

#button-container .button {
    height: 20rem;
    width: 4rem;
    text-align: center;
    font-size: 22px;
    color: white;
    background-color: #d4470f;
    border: 2px solid white;
    border-radius: 0.3rem;
}

#button-container .button:hover {
    border: 2px solid black;
}

.hidden {
    display: none;
}